.container{
    position: absolute;
}
#divesquerdacima{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    left: 0%;
    top: 0%;
    background-color: rgb(39, 42, 63);
}
#divesquerdabaixo{
    display: inline-block;
    width: 260px;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    left: 0%;
    top: 300px;
    background-color: rgb(39, 42, 63);
}
#divdireita{
    display: inline-block;
    margin: 20px;
    margin-top: 0px;
    height: 100%;
    left: 300px;
    right: 0%;
    top: 0%;
    background-color: rgb(250, 250, 250);
}
img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
h1, p, ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 16px;
}
#ib1{
    display: inline-block;
}
#ib2{
    display: inline-block;
    position: absolute;
    right: 0%;
}
#profissao, #ano{
    font-size: 18px; 
}
